@model UniversityRecruitment.Models.Referee
@{
    ViewBag.Title = "Acceptance";
    Layout = "~/Views/Shared/_ApplicantLayout.cshtml";
}

<style>
    .mysheader {
        background-color: #096499;
    }

    .form-group label {
        font-size: 14px;
        color: #000000;
        width: 100%;
    }
</style>
<div class="row page-titles">
    <div class="col-md-7 align-self-center">
        <h3 class="text-themecolor">
            Acceptance
        </h3>
        <p>Give details of any other credential significant contributions, award received etc. not mentioned earlier.</p>
    </div>
    <div class="col-md-5 align-self-center">

    </div>

</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header mysheader">
                    <h4 class="m-b-0 text-white">
                        Acceptance
                    </h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <b>Give names designations, and addresses (Mobile, Phone/Fax No./ Email, if any) of two references not related to candidate. Reference should be of persons with or under whom candidate has worked, or who have intimate knowledge of his work.</b>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-12">Name of the Referee</label>
                                <div class="col-sm-12">
                                    <input name=" " type="text" class="form-control" id="refereeName">
                                    @*<span id="body_reqRefereeName" class="validator" style="display:none;">enter value</span>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label class="col-sm-12">Complete Postal Address</label>
                                <div class="col-sm-12">
                                    <input name=" " type="text" class="form-control" id="address">
                                    @*<span id="body_reqRefereeAddress" class="validator" style="display:none;">enter value</span>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-12">Email ID</label>
                                <div class="col-sm-12">
                                    <input name=" " type="text" class="form-control" id="emailId">
                                    @*<span id="body_reqRefereeEmail" class="validator" style="display:none;">enter value</span>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="col-sm-12">Mobile No.</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control only-numeric" id="mobileNo" maxlength="10">
                                    @*<span id="body_reqRefereeMobile" class="validator" style="display:none;">enter value</span>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="col-sm-12">Phone(Landline)</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="landline">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="col-sm-12">Fax</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="fax">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="col-sm-12">&nbsp;</label>
                                <div class="col-sm-12">
                                    <a class="btn btn-alternate shadow" href="#" id="addMore">Add Referee</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="table-primary">
                                            <th>Name</th>
                                            <th>Address</th>
                                            <th>
                                                Email<br>
                                                Mobile
                                            </th>
                                            <th>
                                                Phone(landline)<br>
                                                Fax
                                            </th>
                                        </tr>

                                    </thead>
                                    <tbody id="addMoreData">
                                        @if (Model != null)
                                        {
                                            if (Model.referee.Count() > 0)
                                            {
                                                foreach (var itm in Model.referee)
                                                {

                                                    <tr>
                                                        <td>@itm.refereeName</td>
                                                        <td>@itm.address</td>
                                                        <td>@itm.emailId / @itm.Mobile</td>
                                                        <td>@itm.landline / @itm.Fax</td>
                                                    </tr>

                                                }
                                            }
                                            else
                                            {

                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="col-sm-12 card mt-2">
                <div class="card-header mysheader">
                    <h4 class="m-b-0 text-white">
                        Acceptance / Other Relevant Information
                    </h4>
                </div>
                <div class="card-body">
                    <div class="row" style="background: #C3FFC3; border: solid 1px rgba(0, 0, 0, .5); border-radius: 5px;">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-12">Are you willing to accept the initial salary of the grade?</label>
                                <div class="col-sm-6">
                                    @if (Model.Salary == true)
                                    {
                                        <select id="salaryGrade" class="form-control">
                                            <option value="-1">-- select --</option>
                                            <option value="true" selected>Yes</option>
                                            <option value="false">No</option>

                                        </select>
                                    }
                                    else if (Model.Salary == false)
                                    {
                                        <select id="salaryGrade" class="form-control">
                                            <option value="-1">-- select --</option>
                                            <option value="true">Yes</option>
                                            <option value="false" selected>No</option>

                                        </select>
                                    }
                                    else
                                    {
                                        <select id="salaryGrade" class="form-control">
                                            <option value="-1">-- select --</option>
                                            <option value="true">Yes</option>
                                            <option value="false" selected>No</option>

                                        </select>
                                    }

                                    @*<span id="body_reqSalaryAcceptance" class="validator" style="display:none;">select value</span>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-12">If no state what is the minimum salary acceptable with justification thereof:</label>
                                <div class="col-sm-12">
                                    <input id="salaryGradeText" type="text" class="form-control" value="@Model.acceptance.SalaryDetail">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row" style="background: #FFC3C3; border: solid 1px rgba(0, 0, 0, .5); border-radius: 5px;">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-12">Have there been any break in your academic / service career?</label>
                                <div class="col-sm-6">
                                    @if (Model.AcademicBreak == true)
                                    {
                                        <select id="break" class="form-control">
                                            <option value="-1">-- select --</option>
                                            <option value="true" selected>Yes</option>
                                            <option value="false">No</option>

                                        </select>
                                    }
                                    else if (Model.AcademicBreak == false)
                                    {
                                        <select id="break" class="form-control">
                                            <option value="-1">-- select --</option>
                                            <option value="true">Yes</option>
                                            <option value="false" selected>No</option>

                                        </select>
                                    }
                                    else
                                    {
                                        <select id="break" class="form-control">
                                            <option value="-1">-- select --</option>
                                            <option value="true">Yes</option>
                                            <option value="false">No</option>

                                        </select>
                                    }

                                    @*<span id="body_reqAcademicBreakAcceptance" class="validator" style="display:none;">select value</span>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-12">If so, give details:</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="breakText" value="@Model.acceptance.AcademicBreakDetail">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row" style="background: #C3FFC3; border: solid 1px rgba(0, 0, 0, .5); border-radius: 5px;">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for=" " id=" " class="col-sm-12">Have you been punished during you services or convicted by a court of law?</label>
                                <div class="col-sm-6">
                                    @if (Model.Law == true)
                                    {
                                        <select class="form-control" id="punished">
                                            <option value="-1">-- select --</option>
                                            <option value="true" selected>Yes</option>
                                            <option value="false">No</option>

                                        </select>
                                    }
                                    else if (Model.Law == false)
                                    {
                                        <select class="form-control" id="punished">
                                            <option value="-1">-- select --</option>
                                            <option value="true">Yes</option>
                                            <option value="false" selected>No</option>

                                        </select>
                                    }
                                    else
                                    {
                                        <select class="form-control" id="punished">
                                            <option value="-1">-- select --</option>
                                            <option value="true">Yes</option>
                                            <option value="false">No</option>

                                        </select>
                                    }

                                    @*<span id="body_reqLawAcceptance" class="validator" style="display:none;">select value</span>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for=" " id=" " class="col-sm-12">If so, give details:</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="punishedText" value="@Model.acceptance.LawDetail">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row" style="background: #FFC3C3; border: solid 1px rgba(0, 0, 0, .5); border-radius: 5px;">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-12">Do you have any case pending against you in any court of law?</label>
                                <div class="col-sm-6">
                                    @if (Model.CaseFiled == true)
                                    {
                                        <select class="form-control" id="courtCase">
                                            <option value="-1">-- select --</option>
                                            <option value="true" selected>Yes</option>
                                            <option value="false">No</option>

                                        </select>
                                    }
                                    else if (Model.CaseFiled == false)
                                    {
                                        <select class="form-control" id="courtCase">
                                            <option value="-1">-- select --</option>
                                            <option value="true">Yes</option>
                                            <option value="false" selected>No</option>

                                        </select>
                                    }
                                    else
                                    {
                                        <select class="form-control" id="courtCase">
                                            <option value="-1">-- select --</option>
                                            <option value="true">Yes</option>
                                            <option value="false">No</option>

                                        </select>
                                    }

                                    @*<span id="body_reqCaseAcceptance" class="validator" style="display:none;">select value</span>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-12">If so, give details:</label>
                                <div class="col-sm-12">
                                    <input type="text" autocomplete="off" id="CaseText" class="form-control" value="@Model.acceptance.CaseDetail">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-12">Any other relevant information, if not given above.</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="otherInfo" value="@Model.acceptance.OtherInformation">
                                    @*<span id="body_reqOtherInfo" class="validator" style="display:none;">enter value</span>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-12">Upload NOC certificate from your present employer</label>
                                <div class="col-sm-12">

                                    <input type="file" class="form-control" id="noc" onchange="Fileupload(this)">
                                    <span id="nocAnchor" style="display: none;" class="input-group-text btn-download"></span>

                                </div>
                                <span class="smallpdf">(File Format:JPG/JPEG and PDF । Max File Size: 2 MB)</span>
                            </div>
                        </div>
                        @if (Model.acceptance.NocDocumentPath != null)
                        {
                            <span class='input-group-text btn-download' href="@Model.acceptance.NocDocumentPath.Replace("~","")"><a href="@Model.acceptance.NocDocumentPath.Replace("~","")" target='_blank' class='btn btn-warning dnldbtn'><i class='fa fa-download'></i></a></span>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="card-shadow-primary col-sm-12 card bg-secondary">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <a class="btn btn-warning text-dark shadow" href="#" onclick="finalSubmit()"><span class="fa fa-save"></span> Save</a>
                        <a id="btnSaveNext" class="btn btn-success text-dark shadow pull-right" href=""><span class="fa fa-save"></span> Save &amp; Next <span class="fa fa-chevron-circle-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        //$('#btnSaveNext').hide();

    });

    var ser = 1;
    $('#addMore').click(function () {
        debugger;
        var refereeName = $('#refereeName').val();
        var address = $("#address").val();
        var emailId = $("#emailId").val();
        var mobileNo = $("#mobileNo").val();
        var landline = $('#landline').val();
        var fax = $("#fax").val();

        if (refereeName != "" && refereeName != null && refereeName != undefined || address != "" && address != null && address != undefined || emailId != "" && emailId != null && emailId != undefined || mobileNo != "" && mobileNo != null && mobileNo != undefined || landline != "" && landline != null && landline != undefined || fax != "" && fax != null && fax != undefined) {

            var row = "<tr class='new'><td class='refereeName'>" + refereeName + "</td><td class='address'>" + address + "</td><td class='emailIdAndMobile'>" + emailId + "/" + mobileNo + "<input type='hidden' value=" + emailId + " class='emailId'/><input type='hidden' value=" + mobileNo + " class='mobileNo'/></td><td class='landlineAndFax'>" + landline + "/" + fax + "<input type='hidden' value=" + landline + " class='landline'/><input type='hidden' value=" + fax + " class='fax'/></td></tr>";

            $('#addMoreData').append(row);

            $('#refereeName').val('');
            $("#address").val('');
            $("#emailId").val('');
            $("#mobileNo").val('');
            $('#landline').val('');
            $("#fax").val('');

            //var $el = $('#attachment');
            //$el.wrap('<form>').closest('form').get(0).reset();
            //$el.unwrap();

        }
        else {
            $('#addMoreData').html('');
        }

    })

    function Fileupload(obj) {
        debugger;
        var filename = $(obj)[0].files[0].name;
        var fileId = $(obj).attr("id");
        var ext = obj.value.match(/\.(.+)$/)[1];

        switch (ext) {
            case 'pdf':
            case 'jpg':
            case 'jpeg':
                var fileSize = ($("#" + fileId)[0].files[0].size / 1024 / 1024);
                if (fileSize > 2) {
                    swal("", "File size should not exceed 2 MB.\r\nफाइल का साइज़ 2 MB से अधिक नहीं होना चाहिए।", "warning");
                    return false;
                }
                else {
                    var data = new FormData();
                    var files = $("#" + fileId).get(0).files;
                    if (files.length > 0) {
                        data.append("File", files[0]);
                    }
                    $("#divLoader").show();
                    $.ajax({
                        url: '@Url.Action("UploadFileAcceptance", "Applicant")',
                        type: "POST",
                        processData: false,
                        contentType: false,
                        data: data,
                        success: function (response) {
                            $("#divLoader").hide();

                            if (response != null) {
                                if (response.result) {
                                    $("#fileName" + fileId).text(filename);
                                    $("#" + fileId + "Path").val(response.fpath);
                                    var Url = response.fpath.replace('~/', '');
                                    $("#" + fileId + "Anchor").empty();
                                    $("#" + fileId + "Anchor").attr('href', Url);
                                    //$("#" + fileId + "Anchor").show();
                                    $("#" + fileId + "Anchor").append('<a href="' + '@Url.Content("~/")' + Url + '" target="_blank" class="btn btn-warning anchor"><i class="fa fa-download"></i></a>');
                                    swal("", "File upload successfully. ", "success")
                                }
                                else {
                                    swal("", response.mesg, "error")
                                }
                            }
                            else {
                                swal("", "Fail to Upload File", "error")
                            }
                            return false;

                        },
                        error: function (e) {

                            $("#divLoader").hide();
                            swal("", "An Error Occured while uploading file", "error");
                        }
                    });

                }
                break;
            default:
                swal("", 'File should be in PDF/JPG/JPEG format./फाइल PDF/JPG/JPEG प्रारूप में होनी चाहिए।', "warning");
                this.value = '';
                return false;
        }

    }

    function finalSubmit() {

        debugger;
        var IsPass = false;
        var model = {
            referee: []
        }
        var refereeList = [];

        $('.new').each(function (i, d) {

            var referee = {};

            referee.refereeName = $(this).find('.refereeName').text();
            referee.address = $(this).find('.address').text();
            referee.emailId = $(this).find(".emailId").val();
            referee.Mobile = $(this).find(".mobileNo").val();
            referee.landline = $(this).find(".landline").val();
            referee.Fax = $(this).find(".fax").val();
            /*referee.NocDocumentPath = $('.anchor').attr('href');*/


            model.Salary = $("#salaryGrade").val();
            model.SalaryDetail = $('#salaryGradeText').val();
            model.AcademicBreak = $('#break').val();
            model.AcademicBreakDetail = $('#breakText').val();
            model.Law = $('#punished').val();
            model.LawDetail = $('#punishedText').val();
            model.CaseFiled = $('#courtCase').val();
            model.CaseDetail = $('#CaseText').val();
            model.OtherInformation = $('#otherInfo').val();
            if ($('.anchor').attr('href') == "" || $('.anchor').attr('href') == null || $('.anchor').attr('href') == undefined && '@Model.acceptance.NocDocumentPath' != '') {
                model.NocDocumentPath = '@Model.acceptance.NocDocumentPath'
            }
            else {
                model.NocDocumentPath = $('.anchor').attr('href');
            }

            refereeList.push(referee);
            IsPass = true;

        });
        if (refereeList.length != 0) {
            if (IsPass != false) {
                $.each(refereeList, function (key, value) {
                    model.referee.push(value);
                });
                $.ajax({
                    url: "@Url.Action("saveAcceptance", "Applicant")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(model),
                    async: false,
                    dataType: "json",
                    success: function (a) {
                        if (a.ResponseCode == 0) {
                            $.confirm({
                                title: '',
                                content: a.ResponseMessage,
                                buttons: {
                                    Ok: function () {
                                        //$('#addMoreData').html('');
                                        //$("#salaryGrade").val('-1');
                                        //$('#salaryGradeText').val('');
                                        //$('#break').val('-1');
                                        //$('#breakText').val('');
                                        //$('#punished').val('-1');
                                        //$('#punishedText').val('');
                                        //$('#courtCase').val('-1');
                                        //$('#CaseText').val('');
                                        //$('#otherInfo').val('');
                                        //$('.anchor').attr('');
                                        //var $el = $('#noc');
                                        //$el.wrap('<form>').closest('form').get(0).reset();
                                        //$el.unwrap();
                                        window.location.reload();
                                        //$('#btnSaveNext').show();
                                    }
                                }
                            });
                        }
                        else {
                            $.confirm({
                                title: '',
                                content: a.ResponseMessage,
                                buttons: {
                                    Ok: function () {

                                    }
                                }
                            });
                        }
                    },
                    error: function (e) {
                        $('.btnSubmit').prop('disabled', false);
                        swal("", "Somthing went wrong!", "warning");
                    }
                });
            }
            else {
                swal("", 'Something went wrong !', "warning");
            }
        }
        else {
            swal("", 'Add altleast one record .', "info");
        }
    }

    $(".only-numeric").bind("keypress", function (e) {
        var keyCode = e.which ? e.which : e.keyCode
        if (!(keyCode >= 48 && keyCode <= 57)) {
            //swal("", "Please enter numeric digit only", "warning");
            return false;
        }
        return true;
    });

</script>

