@model UniversityRecruitment.Models.Activities
@{
    ViewBag.Title = "Activities";
    Layout = "~/Views/Shared/_ApplicantLayout.cshtml";
}

<style>
    .mysheader {
        background: #096499;
    }
</style>

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">
            Activities
        </h3>
        <p>Administrative, Examination, Professional Development and Extension Activities</p>
    </div>
    <div class="col-md-7 align-self-center">

    </div>
    <div class="">
        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
    </div>
</div>

<div class="container-fluid">


    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header mysheader">
                    <h4 class="m-b-0 text-white">
                        Research Degree
                    </h4>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">

                        <tbody>
                            <tr>
                                <td>
                                    <b>
                                        Administrative Responsibilities
                                        <br><span style="color: red">Such as Head / Chairperson / Dean / Asst. Dean / Director / Co-ordinator / Deputy Coordinator / Warden etc. / <br>Member of various cells or committee (i.e. IQAC / Admision Committee etc.)</span>
                                    </b>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <b>
                                        Examination and Evaluation Duties
                                        <br><span style="color: red">Duties Assigned by the college / university or attending the examination paper evaluation<br>(i.e. Co-ordinator or member of flying squad, center evaluation committee, coding-decoding committee, collation committee, etc.).</span>
                                    </b>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <b>
                                        Student related co-curricular, extension and field based activities
                                        <br><span style="color: red">Such as student clubs, career counseling, study visits, student seminars and other events, culural, sports, NCC, NSS and community services.</span>
                                    </b>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <b>
                                        Organising seminars / conferences / workshops, other college / univeristy activities
                                    </b>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header mysheader">
                    <h4 class="m-b-0 text-white">
                        Research Degree
                    </h4>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-12">Activity</label>
                                <div class="col-sm-12">
                                    @Html.DropDownListFor(Model => Model.Activity, new List<SelectListItem>
                                               {
                                                   new SelectListItem{ Text="Administrative Responsibilities", Value = "Administrative Responsibilities" },
                                                     new SelectListItem{ Text="Examination and Evaluation Duties", Value = "Examination and Evaluation Duties" },
                                                     new SelectListItem{ Text="Student related co-curricular, extension and field based activities", Value = "Student related co-curricular, extension and field based activities" },
                                                     new SelectListItem{ Text="Organising seminars / conferences / workshops, other college / univeristy activities", Value = "Organising seminars / conferences / workshops, other college / univeristy activities" },
                                               }, "--Select--", new { @class = "form-control", @autocomplete = "off", })

                                    @*@if (ViewBag.ActivitiesList != null)
                                        {
                                            @Html.DropDownListFor(Model => Model.ActivityId, new SelectList(ViewBag.ActivitiesList, "Value", "Text"), "--SELECT--", new { @class = "form-control", @id = "ActivityId", @placeholder = "Select" })
                                        }*@
                                    @*<span id="body_reqActivity" class="validator" style="display:none;">enter value</span>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-12">Description</label>
                                <div class="col-sm-12">
                                    @Html.TextBoxFor(m => m.Description, new { @class = "form-control", @Id = "Description", @name = "Description" })
                                    @*<span id="" class="validator" style="display:none;">enter value</span>*@
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-12">Name of Institution</label>
                                <div class="col-sm-12">
                                    @Html.TextBoxFor(m => m.Institution, new { @class = "form-control", @Id = "Institution", @name = "Institution" })
                                    @*<span id="body_reqInstitution" class="validator" style="display:none;">enter value</span>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="col-sm-12">Academic Year</label>
                                <div class="col-sm-12">
                                    @Html.TextBoxFor(m => m.AcademicYear, new { @class = "form-control", @Id = "AcademicYear", @name = "AcademicYear" })
                                    @*<span id="body_reqAcademicYear" class="validator" style="display:none;">enter value</span>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="col-sm-12">Upload Scanned Attachment</label>
                                <div class="col-sm-12">
                                    <input type="file" class="form-control" id="UploadActivity" onchange="Fileupload(this)">
                                    <span id="UploadActivityAnchor" style="display: none;" class="input-group-text btn-download"></span>
                                    @*<span id="body_reqUpload" class="validator" style="display:none;">upload file</span>*@
                                </div>
                                <span class="smallpdf">(File Format:JPG/JPEG and PDF । Max File Size: 2 MB)</span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="col-sm-12">&nbsp;</label>
                                <div class="col-sm-12">
                                    <a class="btn btn-primary btn-shadow" href="#" onclick="AddActivity()"><span class="fa fa-plus-circle"></span> Add</a>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="row mt-3">
                        <div class="col-sm-12">

                            <div class="table-responsive">
                                <table class="table full-color-table full-info-table hover-table" id="tab">
                                    <thead>
                                        <tr class="">
                                            <th>Serial</th>
                                            <th>Nature of Activity</th>
                                            <th>Description</th>
                                            <th>Name of Institution</th>
                                            <th>Academic Year</th>
                                            <th>Attachment</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="TblActivity"></tbody>
                                    @*<tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Nigam</td>
                                                <td>Eichmann</td>
                                                <td>@@Genelia</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Roshan</td>
                                                <td>Rogahn</td>
                                                <td>@@Hritik</td>
                                            </tr>
                                        </tbody>*@
                                </table>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="card-shadow-primary col-sm-12 card bg-secondary">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <a id="" class="btn btn-warning text-dark shadow" href="#" onclick="Savedata()"><span class="fa fa-save"></span> Save</a>
                        <a id="body_BtnSaveNext" class="btn btn-success text-dark shadow pull-right d-none" href="#"><span class="fa fa-save"></span> Save &amp; Next <span class="fa fa-chevron-circle-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var Sno = 1;
     function AddActivity() {
        debugger;
        var Activity = $('#Activity').val();
        var Description = $('#Description').val();
        var Institution = $('#Institution').val();
        var AcademicYear = $('#AcademicYear').val();

        var href = $('.anchor').attr('href');
         if ($('#Activity').val() == "" || $('#Activity').val() == null || $('#Activity').val() == undefined) {
                swal("", "please Enter Activity", "warning")
                return false;
            }
            if ($('#Description').val() == "" || $('#Description').val() == null || $('#Description').val() == undefined) {
                swal("", "Please enter   Description  ", "warning")
                return false;
            }

          if ($('#Institution').val() == "" || $('#Institution').val() == null || $('#Institution').val() == undefined) {
                swal("", "please enter  Name Of Institution ", "warning")
                return false;
         }
          if ($('#AcademicYear').val() == "" || $('#AcademicYear').val() == null || $('#AcademicYear').val() == undefined) {
                swal("", "please enter  Academic Year ", "warning")
                return false;
         }
         if ($('#UploadActivity').val() == "" || $('#UploadActivity').val() == null || $('#UploadActivity').val() == undefined) {
                swal("", "please Upload   Image ", "warning")
                return false;
            }


        var row = '<tr><td>'+ Sno++ +'</td><td class="Actv">' + Activity + '</td><td class="Descrip">' + Description + '</td><td class="Insti" >' + Institution + '</td><td  class="AcadYear">' + AcademicYear + '</td><td><span class="input-group-text btn-download" href=' + href +'><a href=' + href +' target="_blank" class="btn btn-warning dldbtn"><i class="fa fa-download"></i></a></span></td></tr>';

         $('#TblActivity').append(row);
         $('#Activity').val('');
        $('#Description').val('');
        $('#Institution').val('');
        $('#AcademicYear').val('');
        $('#UploadActivity').val('');



    }

     function Savedata() {
         debugger;

        var model = {
            AList: [],


        }

        var entrylist = [];

        $('#tab #TblActivity tr').each(function (i, d) {
            var ActivityEntry = {};
            ActivityEntry.Activity = $(this).find('.Actv').text();
            ActivityEntry.Description = $(this).find('.Descrip').text();
            ActivityEntry.Institution = $(this).find('.Insti').text();
            ActivityEntry.AcademicYear = $(this).find('.AcadYear').text();

            ActivityEntry.UploadActivity = $(this).find('.dldbtn').attr('href');
            entrylist.push(ActivityEntry)

        });

         if (entrylist == 0) {
             swal("", "please fill all field", "warning")
             return false;
         }
         else {

         }

        if (entrylist != 0 ) {
            $.each(entrylist, function (key, value) {

                model.AList.push(value);
            })

            $.ajax({
                type: 'post',
                url: '/Applicant/SaveActivityDetails',
                data: JSON.stringify(model),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {

                        if (data.ResponseCode == 0) {
                            swal("", data.ResponseMessage, "success")

                            $('#body_BtnSaveNext').removeClass('d-none')
                        $('#TblActivity').empty();
                        }

                        else {
                           swal("", data.ResponseMessage, "warning")

                    }
                }


            })
        }


        }


     function Fileupload(obj) {
        debugger;
        var filename = $(obj)[0].files[0].name;
        var fileId = $(obj).attr("id");
        var ext = obj.value.match(/\.(.+)$/)[1];

        switch (ext) {
            case 'pdf':
            case 'jpg':
            case 'jpeg':
                var fileSize = ($("#" + fileId)[0].files[0].size / 1024 / 1024);
                if (fileSize > 2) {
                    swal("", "File size should not exceed 2 MB.\r\nफाइल का साइज़ 2 MB से अधिक नहीं होना चाहिए।", "warning");
                    return false;
                }
                else {
                    var data = new FormData();
                    var files = $("#" + fileId).get(0).files;
                    if (files.length > 0) {
                        data.append("File", files[0]);
                    }
                    $("#divLoader").show();
                    $.ajax({
                        url: '@Url.Action("UploadActivityFile", "Applicant")',
                        type: "POST",
                        processData: false,
                        contentType: false,
                        data: data,
                        success: function (response) {
                            $("#divLoader").hide();

                            if (response != null) {
                                if (response.result) {
                                    $("#fileName" + fileId).text(filename);
                                    $("#" + fileId + "Path").val(response.fpath);
                                    var Url = response.fpath.replace('~/', '');
                                    $("#" + fileId + "Anchor").empty();
                                    $("#" + fileId + "Anchor").attr('href', Url);
                                    //$("#" + fileId + "Anchor").show();
                                    $("#" + fileId + "Anchor").append('<a href="' + '@Url.Content("~/")' + Url + '" target="_blank" class="btn btn-warning anchor"><i class="fa fa-download"></i></a>');
                                    swal("", "File upload successfully. ", "success")
                                }
                                else {
                                    swal("", response.mesg, "error")
                                }
                            }
                            else {
                                swal("", "Fail to Upload File", "error")
                            }
                            return false;

                        },
                        error: function (e) {

                            $("#divLoader").hide();
                            swal("", "An Error Occured while uploading file", "error");
                        }
                    });

                }
                break;
            default:
                swal("", 'File should be in PDF/JPG/JPEG format./फाइल PDF/JPG/JPEG प्रारूप में होनी चाहिए।', "warning");
                this.value = '';
                return false;
        }

    }
</script>


